---
layout: default
---
<header>
  <img src="{{ site.favicon }}" style="height: 200px;" alt="Strawberry">
  
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<footer>
  <div class="social-links">
    <a href="https://github.com/" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://linkedin.com/in/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
  </div>
</footer>