---
layout: default
---
<header>
  <img src="{{ site.favicon }}" style="height: 200px;" alt="Strawberry">
  
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<footer>
  <div class="social-links">
    <a href="https://github.com/phoryne" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://linkedin.com/in/federico-golgo-63716436a" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://discord.gg/FVTucMXCJr" target="_blank"><i class="fa-brands fa-discord"></i></a>
  </div>
</footer>
